html {
  font-family: "SF Pro Display", sans-serif;
  overflow: hidden;
  background: #7f678d;
}

.main-container {
  display: flex;
  flex-direction: row;
  height: 110vh;
}

.search-container {
  display: flex;
  flex-direction: column;
  width: 45vw;
  padding: 30px;
  background: #7f678d;
  gap: 15px;
}

.button-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

#search-bar {
  border: none;
  background: #6c517b;
  font-size: 18px;
  border-radius: 10px;
  height: 2rem;
  width: 100%;
  color: #ffffff;
  font-family: "SF Pro Display", sans-serif;
}

#search-bar:hover {
  outline:none;
}

.searchbar-container {
  display: flex;
  width: 100%;
  height: auto;
  
}

.btn {
  border: none;
  border-radius: 10px;
  height: 2rem;
  background: #6c517b;
  text-align: center;
  min-width: 130px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  transition: color 0.5s ease-out, background 0.5s ease-out;
  font-family: "SF Pro Display", sans-serif;
}

.btn:hover {
  color: #000000;
  background: #ffffff;
  transition: color 0.5s ease-in, background 0.5s ease-in;
}

.card-container {
  padding: 20px 40px 0px 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow-y: scroll !important; /* not sure why this does not work lele please help */
}

.card {
  position: relative;
  background: #6c517b;
  border-radius: 30px;
  min-height: 150px;
}

.card h4 {
  margin: 0;
  padding: 20px 0 0 20px;
  color: #ffffff;
  font-size: 1.2rem;
  max-width: 250px;
  text-wrap: wrap;
}

.card h5 {
  position: absolute;
  margin: 0;
  padding: 0 0 20px 20px;
  font-size: 1rem;
  color: #ffffff;
  opacity: 0.7;
  max-width: 200px;
  text-wrap: wrap;
  left: 0;
  bottom: 0;
  margin-top: 100px;
}

.card h6 {
  position: absolute;
  margin: 0;
  padding: 20px 20px 0 0;
  font-size: 1.2rem;
  color: #ffffff;
  opacity: 0.5;
  top: 0;
  right: 0;
  text-align: right;
}

.drag-container {
  position: absolute;
  padding: 0 20px 20px 0;
  display: grid;
  grid-template-columns: repeat(2, 16px);
  grid-template-rows: repeat(2, 16px);
  grid-row-gap: 2px;
  grid-column-gap: 2px;
  right: 0;
  bottom: 0;
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: #333333;
  opacity: 0.5;
  z-index: 1;
}

.generator-container {
  width: 55vw;
  text-align: center;
  padding: 5px;
}

.choice-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px 90px 0px 90px;
}

.card-placeholder {
  display: flex;
  flex-direction: row;
  height: 140px;
  background: #d3d3d3;
  border: 6px dashed #6c517b;
  border-radius: 30px;
  align-items: center;
}

#one::before {
  content: "1st";
  font-size: 2rem;
  font-weight: 700;
  transform: translateX(-75px);
}

#two::before {
  content: "2nd";
  font-size: 1.9rem;
  font-weight: 700;
  transform: translateX(-78px);
}

#three::before {
  content: "3rd";
  font-size: 2rem;
  font-weight: 700;
  transform: translateX(-75px);
}

.gen-btn {
  height: 3rem;
  font-size: 1.5rem;
}

.gen-btn:hover {
  color: #000000;
  background: #ffffff;
  transition: color 0.5s ease-in, background 0.5s ease-in;
}