<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PPTX generator</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <h1>Powerpoint Slides Generator</h1>
    </nav>
    <div class="main_container">
        <div class="container">
            <h2>Search</h2>
            <!-- <form method="POST" action="/pptx-search"> -->
                <div class="search_bar">
                    <div class="form-group">
                        <input type="text" id="searchquery" placeholder="Search" name="searchquery" required>
                        <button type="submit">Submit</button>
                    </div>
                </div>
               <div class="buttons">
                   <button class="btn clicked" name="searchoption" value="-t">title</button>
                   <button class="btn" name="searchoption" value="-a">author</button>
                   <button class="btn" name="searchoption" value="-k">kri number</button>
               </div>
            </form>
           <h3>Search Results:</h3>
           <p><b>Title</b>: {{title}}</p>
           <p><b>Author</b>: {{author}}</p>
           <p><b>Kri-Number</b>: {{key}}</p>
        </div>
        <div class="container">
            <h2>Generate</h2>
            <form method="POST" action="/generator-function">
                <div class="form-group">
                    <label for="song1">Song 1:</label>
                    <input type="text" id="song1" name="song1" placeholder="kri" required>
                </div>
                <div class="form-group">
                    <label for="song2">Song 2:</label>
                    <input type="text" id="song2" name="song2" placeholder="kri" required>
                </div>
                <div class="form-group">
                    <label for="song3">Song 3:</label>
                    <input type="text" id="song3" name="song3"placeholder="kri" required>
                </div>
                <div class="form-group">
                    <label for="pptxtitle">File Name:</label>
                    <input type="text" id="pptxtitle" name="pptxtitle" placeholder="presentation">
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
</body>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</html>